<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
	<Bundle Name="MCode - DAS" Version="1.0.0.0" Manufacturer="DASPoint" UpgradeCode="7ebee219-1f7e-448f-bcc4-a9dad2e8324d">
    <BootstrapperApplication>
    <bal:WixStandardBootstrapperApplication LicenseUrl="" Theme="hyperlinkLicense" />
    </BootstrapperApplication>
		<Chain>
      <PackageGroupRef Id="NetFx481Web" />
      <MsiPackage Id="MCode" SourceFile="$(var.WixSetupMcode.TargetPath)" />
		</Chain>
	</Bundle>
</Wix>